/* body要素（ページ本体）全体に適用するCSSルール */
body {
    margin: 0;
    padding: 0;
    font-family: メイリオ ,Osaka;
    color: #000000;
    background-color: #f0f8ff
}

/* h2、h3要素に適用する */
h2,h3 {
    font-size: 1.0em;
}

/* IDセレクター#headerの要素に含まれるh1要素に適用する */
#header img {
    margin: 5px 100px;
}

#header {
    border-bottom: 2px solid #cccccc;
}

/* IDセレクター#nav（ナビゲーション）の要素に適用する */
#nav {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sep {
    height: 1px;
    clear: both;
}

.btn a {
    color: #fafafa;
}

.page_title {
    margin: 20px 0;
    color: #606060;
}

/* クラスセレクターarticleが適用されている要素に適用する */
.article {
    /*padding: 10px;*/
    border: 2px solid #cccccc;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.article_content{
    margin-bottom: 5px;
    margin-right: 5px;
}

/*.other_users {*/
    /*float: right;*/
    /*width: 100px;*/
    /*margin-right: 20px;*/
    /*margin-left: 10px;*/
/*}*/

/* クラスセレクターerror_listが適用されているul要素に適用する */
ul.error_list {
    border: 1px solid #ff0000;
    background-color: #ffcccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* クラスセレクターerror_listが適用されているul要素に含まれるli要素に適用する */
ul.error_list li {
    color: #ff0000;
}
/* クラスセレクターacountが適用されている要素に適用する */
.acount {

}

.user_id_and_image {
    overflow: hidden;
}

.user_image {
    width: 300px;
    margin-bottom: 20px;
    float: left;
}

.user_id {
    width: 200px;
    float: left;
    font-size: large;
}

.user_id p a {

}

.user_image form {
    margin-top: 20px;
}


/* クラスセレクターf_userが適用されている要素に適用する */
.f_user {
    margin-top: 50px;
}

.reaction_icons {
    display: inline-block;
    margin-left: 30px;
    /*margin-bottom: 5px;*/
    padding-bottom: 10px;
}

.reaction_counter {
    display: inline-block;
    width: 20px;
    margin-left: 5px;
    margin-right: 10px;
}
