/* body要素（ページ本体）全体に適用するCSSルール */
body {
    margin: 0;
    padding: 0;
    font-family: メイリオ ,Osaka;
    color: #000000;
    background-color: #f0f8ff
}

/* h2、h3要素に適用する */
h2,h3 {
    font-size: 1.0em;
}

/* IDセレクター#headerの要素に含まれるh1要素に適用する */
#header img {
    margin: 5px 100px;
}

#header {
    border-bottom: 2px solid #cccccc;
}

/* IDセレクター#nav（ナビゲーション）の要素に適用する */
#nav {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sep {
    height: 1px;
    clear: both;
}

.btn a {
    color: #fafafa;
}

.page_title {
    margin: 20px 0;
    color: #606060;
}

/* クラスセレクターstatusが適用されている要素に適用する */
.status {
    /*padding: 10px;*/
    border: 2px solid #cccccc;
    margin-bottom: 10px;
    background-color: #ffffff;
}

/* クラスセレクターerror_listが適用されているul要素に適用する */
ul.error_list {
    border: 1px solid #ff0000;
    background-color: #ffcccc;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* クラスセレクターerror_listが適用されているul要素に含まれるli要素に適用する */
ul.error_list li {
    color: #ff0000;
}
/* クラスセレクターacountが適用されている要素に適用する */
.acount {

}

/* クラスセレクターf_userが適用されている要素に適用する */
.f_user {

}